In [1]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading tweet_preprocessor-0.6.0-py3-none-any.whl (27 kB)
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [2]:
import pandas as pd
import preprocessor as p

In [3]:
df = pd.read_csv('df_final.csv',dtype=str)
df

,id,id_str,full_text,decision
0,1355345090022154241,1355345090022154240,@science_barbie @priyology Cyanobacteria (also...,enabling context
1,1355321147701686273,1355321147701686272,New insights into coral bleaching by internati...,enabling context
2,1355286925809094659,1355286925809094656,"Friday Tally:\n\n2 dives, continued coral blea...",buzz
3,1355276872410681348,1355276872410681344,Coral bleaching is so sad because they just be...,desirability
4,1355268165148815360,1355268165148815360,predicts that at the current rate of emissions...,desirability
...,...,...,...,...
448,1361281813474398208,1361281813474398208,Recent water mass changes reveal mechanisms of...,enabling context
449,1361224244206723073,1361224244206723072,@DanielFrikandel @OnnoLemckert @aadvanuffelen ...,enabling context
450,1361116289792638979,1361116289792638976,@Brando27564321 @DaveCaulfield_ Due to ocean w...,desirability
451,1360996383113818113,1360996383113818112,Kicking off our incredibly somber Valentineâ...,desirability
452,1360988890962788355,1360988890962788352,Half of the Great Barrier Reef has been bleach...,desirability

In [4]:
df['full_text_clean'] = df['full_text']

In [5]:
def preprocess_tweet(row):
    text = row['full_text_clean']
    text = p.clean(text)
    return text

In [6]:
df['full_text_clean'] = df.apply(preprocess_tweet, axis = 1)
df.head()

,id,id_str,full_text,decision,full_text_clean
0,1355345090022154241,1355345090022154240,@science_barbie @priyology Cyanobacteria (also...,enabling context,Cyanobacteria (also called blue-green algae) a...
1,1355321147701686273,1355321147701686272,New insights into coral bleaching by internati...,enabling context,New insights into coral bleaching by internati...
2,1355286925809094659,1355286925809094656,"Friday Tally:\n\n2 dives, continued coral blea...",buzz,"Friday Tally:2 dives, continued coral bleachin..."
3,1355276872410681348,1355276872410681344,Coral bleaching is so sad because they just be...,desirability,Coral bleaching is so sad because they just be...
4,1355268165148815360,1355268165148815360,predicts that at the current rate of emissions...,desirability,predicts that at the current rate of emissions...

In [7]:
from gensim.parsing.preprocessing import remove_stopwords

In [8]:
def stopword_removal(row):
    text = row['full_text_clean']
    text = remove_stopwords(text)
    return text

In [9]:
df['full_text_clean'] = df.apply(stopword_removal, axis = 1)
df.head()

,id,id_str,full_text,decision,full_text_clean
0,1355345090022154241,1355345090022154240,@science_barbie @priyology Cyanobacteria (also...,enabling context,Cyanobacteria (also called blue-green algae) m...
1,1355321147701686273,1355321147701686272,New insights into coral bleaching by internati...,enabling context,New insights coral bleaching international col...
2,1355286925809094659,1355286925809094656,"Friday Tally:\n\n2 dives, continued coral blea...",buzz,"Friday Tally:2 dives, continued coral bleachin..."
3,1355276872410681348,1355276872410681344,Coral bleaching is so sad because they just be...,desirability,"Coral bleaching sad vibing theyre supposed do,..."
4,1355268165148815360,1355268165148815360,predicts that at the current rate of emissions...,desirability,"predicts current rate emissions, likely increa..."

In [10]:
df['full_text_clean'] = df['full_text_clean'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [11]:
df['full_text_clean'] = df['full_text_clean'].apply(lambda x: ' '.join([word for word in str(x).split() if word.isalnum()]))

In [12]:
df['full_text_clean'] = df['full_text_clean'].apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2]))

In [13]:
df['full_text_clean']

0      cyanobacteria also called blue green algae mic...
1      new insights coral bleaching international col...
2      friday tally dives continued coral bleaching d...
3      coral bleaching sad vibing theyre supposed die...
4      predicts current rate emissions likely increas...
                             ...
448    recent water mass changes reveal mechanisms oc...
449    issues relate specifically aerial surveys cora...
450    due ocean warming great whites swimming maine ...
451    kicking incredibly somber valentines day watch...
452    half great barrier reef bleached death mass co...
Name: full_text_clean, Length: 453, dtype: object

In [14]:
df['full_text_length'] = df['full_text'].apply(lambda x: len(str(x).split()))
df['full_text_clean_length'] = df['full_text_clean'].apply(lambda x: len(str(x).split()))
df.head()

,id,id_str,full_text,decision,full_text_clean,full_text_length,full_text_clean_length
0,1355345090022154241,1355345090022154240,@science_barbie @priyology Cyanobacteria (also...,enabling context,cyanobacteria also called blue green algae mic...,35,24
1,1355321147701686273,1355321147701686272,New insights into coral bleaching by internati...,enabling context,new insights coral bleaching international col...,32,25
2,1355286925809094659,1355286925809094656,"Friday Tally:\n\n2 dives, continued coral blea...",buzz,friday tally dives continued coral bleaching d...,25,17
3,1355276872410681348,1355276872410681344,Coral bleaching is so sad because they just be...,desirability,coral bleaching sad vibing theyre supposed die...,31,12
4,1355268165148815360,1355268165148815360,predicts that at the current rate of emissions...,desirability,predicts current rate emissions likely increas...,47,24

In [15]:
df.describe()

       full_text_length  full_text_clean_length
count        453.000000              453.000000
mean          30.649007               16.735099
std           12.001032                6.629949
min            3.000000                2.000000
25%           21.000000               11.000000
50%           33.000000               17.000000
75%           40.000000               22.000000
max           79.000000               32.000000

In [16]:
df_cleaned = df[['id','full_text_clean','decision']]
df_cleaned

,id,full_text_clean,decision
0,1355345090022154241,cyanobacteria also called blue green algae mic...,enabling context
1,1355321147701686273,new insights coral bleaching international col...,enabling context
2,1355286925809094659,friday tally dives continued coral bleaching d...,buzz
3,1355276872410681348,coral bleaching sad vibing theyre supposed die...,desirability
4,1355268165148815360,predicts current rate emissions likely increas...,desirability
...,...,...,...
448,1361281813474398208,recent water mass changes reveal mechanisms oc...,enabling context
449,1361224244206723073,issues relate specifically aerial surveys cora...,enabling context
450,1361116289792638979,due ocean warming great whites swimming maine ...,desirability
451,1360996383113818113,kicking incredibly somber valentines day watch...,desirability
452,1360988890962788355,half great barrier reef bleached death mass co...,desirability

In [17]:
df_cleaned.to_csv('df_cleaned.csv')